body {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN',
    'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック',
    'MS PGothic', sans-serif;
  background: #fcf6ef;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* メインヴィジュアル */

.mv {
  position: relative;
}

.mv img {
  height: 100vw;
  object-fit: cover;
  object-position: 30%;
}

.mv_textWrapper {
  position: absolute;
  left: 0;
  bottom: 0;
}

.mv_text {
  margin: 0;
  color: white;
  text-shadow: 2px 2px 1px #555, -2px 2px 1px #555, 2px -2px 1px #555,
    -2px -2px 1px #555, 2px 0 1px #555, 0 2px 1px #555, -2px 0 1px #555,
    0 -2px 1px #555;
}

/* リストアイテム */

.item {
  padding: 0 0 2vw;
}

.item_header {
  position: relative;
  background-color: white;
  height: 15vh;
}

.item_headerTitleWrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8px;
}

.item_headerTitle {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: white;
  margin: 0;
}

.item_headerBoundaryLine {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  box-shadow: inset 0 12px 4px -4px rgba(0, 0, 0, 0.4);
  border-color: #ccc;
  border-style: solid;
  border-width: 8px 0;
}

.movie {
  padding: 2vw;
}

.movie_player {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.movie_player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vw;
}

.button {
  background-color: #fcf6ef;
  padding: 16px;
  width: 100%;
}

/* Splatoon2 */

#splatoon2 {
  background: url('/img/splatoon2/about_bg.jpg') repeat;
}

.spla_headerImage1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.spla_headerImage2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.spla_mv {
  position: relative;
  padding: 2vw;
}

.spla_contentLeft {
  position: absolute;
  left: 0;
  top: 0;
  width: 60vw;
}

.spla_contentLeft img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.spla_contentRight {
  position: absolute;
  right: 0;
  top: 0;
  width: 60vw;
}

.spla_contentRight img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.spla_contentLogo {
  position: absolute;
  width: 55vw;
  top: 55%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* マリオオデッセイ */

#mario-odyssey {
  background-color: #e60012;
}

#mario-odyssey .item_header {
  background-color: #e60012;
}

.mario_headerImage1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: 0 40%;
}

.mario_headerImage2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: 0 30%;
}

.mario_mv {
  position: relative;
}

.mario_contentChara {
  position: absolute;
  width: 75vw;
  top: 7%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.mario_contentLogo {
  position: absolute;
  width: 40vw;
  right: 0;
  bottom: 0;
}

/* アニメーション */

.fadein {
  opacity: 0;
}

.fadein.is-animate {
  opacity: 1;
  transition: all ease 0.65s;
}
